#dashboardAgent-css .wraper #main{
	margin-top: 40px;
}

#dashboardAgent-css #main {
	margin-left: 0;
}

#dashboardAgent-css .social-navbar {
	left: 0;
}

#dashboardAgent-css .container-fluid {
	padding: 0 0.5em;
}
