<template name ="dashboardAdmin">
	<div id="dashboard-css">		<!-- Div General de Dashboard -->
		<!-- We add the sidebar-full class to the wrapper
		This is necessary for padding on left the navbar and
		the bady content -->
		<div class="wraper">

			<header>
				<nav class="navbar navbar-blue navbar-fixed-top social-navbar">
					<div class="navbar-inner">
						<div class="container-fluid">
							<a class="brand" href="#">Title</a>
							<a href="#" class="btn btn-danger" id="btnSalir">SALIR</a>
						</div>
					</div>
				</nav>
			</header>

			<div id="main">
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span12">
							<h3 class="page-title"> ESTAMOS EN DASHBOARD --- ADMIN ----</h3>
							<ul class="breadcrumb">
								<li>
									<i class="icon-home"></i>
									<a href="#">Home</a>
									<span class="icon-angle-right"></span>
								</li>

								<li><a href="#">Element 1</a>
									<span class="icon-angle-right"></span>
								</li>

								<li>
									<a href="#">Element 2</a>
								</li>
							</ul>

						</div>
					</div>
				</div>

				<div class="container-fluid">
					<div class="row-fluid">
						<!-- Content page here -->
					</div>
				</div>

			</div>

		</div>

	</div>
</template>